<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>one_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,101},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>one_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_l0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,398},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,299},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_r0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,200},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>two_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>towHero.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f8d1abcf7cfd988b21602958c9f4b8$</string>
            <key>textureFileName</key>
            <string>towHero.png</string>
        </dict>
    </dict>
</plist>
