<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,121},{47,26}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,72},{47,26}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>cfqf.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,170},{43,26}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>cfqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,298},{47,28}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>gjf.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,215},{27,81}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>gjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,286},{27,81}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{27,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>jzdfw0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,372},{52,132}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{52,132}}</string>
                <key>sourceSize</key>
                <string>{174,232}</string>
            </dict>
            <key>jzdfw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,104},{100,100}}</string>
                <key>offset</key>
                <string>{-66,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{100,100}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw1_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{100,100}}</string>
                <key>offset</key>
                <string>{66,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,36},{100,100}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{188,182}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw2_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,182}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{188,182}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,186},{140,184}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,32},{140,184}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw3_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{140,184}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{140,184}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{120,80}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,140},{120,80}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw4_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,206},{120,80}}</string>
                <key>offset</key>
                <string>{-20,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,140},{120,80}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{20,68}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{20,68}}</string>
                <key>sourceSize</key>
                <string>{178,232}</string>
            </dict>
            <key>jzxfw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,236},{48,48}}</string>
                <key>offset</key>
                <string>{-56,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,72},{48,48}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw1_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,186},{48,48}}</string>
                <key>offset</key>
                <string>{56,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,72},{48,48}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,369},{140,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{140,168}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw2_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,328},{140,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{140,168}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,431},{60,36}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,156},{60,36}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw3_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,369},{60,36}}</string>
                <key>offset</key>
                <string>{-10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,156},{60,36}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7395494d384d6b1fc8981c90783c6057$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
