<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,289},{47,26}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,240},{47,26}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>cfqf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{43,26}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>cfqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,138},{47,28}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>gjf.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,240},{27,81}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>gjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,187},{27,81}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{27,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>jzdfw0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{52,132}}</string>
                <key>offset</key>
                <string>{-26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,40},{52,132}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,138},{100,100}}</string>
                <key>offset</key>
                <string>{-66,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{100,100}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,182}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{188,182}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{140,184}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,32},{140,184}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzdfw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,56},{120,80}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,140},{120,80}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw0.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,269},{20,68}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{20,68}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,332},{48,48}}</string>
                <key>offset</key>
                <string>{-56,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,72},{48,48}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,144},{140,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{140,168}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>jzxfw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,270},{60,36}}</string>
                <key>offset</key>
                <string>{10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,156},{60,36}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14125d231560711695d32b6dbb2f9d20$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
